@tailwind base;
@tailwind components;
@tailwind utilities;

/* new font */

@font-face {
  font-family: 'kalameh';
  src:
    url('/fonts/kalameh/woff2/KalamehWeb-Regular.woff2') format('woff2'),
    url('/fonts/kalameh/woff/KalamehWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'kalameh';
  src:
    url('/fonts/kalameh/woff2/KalamehWeb-SemiBold.woff2') format('woff2'),
    url('/fonts/kalameh/woff/KalamehWeb-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: bold;
}

@layer base {
  select {
    @apply bg-red-600;
  }
  h2 {
    @apply bg-red-600;
  }
}

@layer utilities {
  .custom-class-name {
    color: #f0f;
    @apply bg-red-600;
  }
}

:root {
  --toastify-font-family: on;
}

.base-input .icon {
  color: red; /* Change as needed */
}

input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
}

/* customize scroll */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #09524c;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0f766e;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}
h2 {
  background-color: initial;
}
